.card {
    border: solid 2px black;
    display: block;
    background: #333333;
    text-align: center;
    width: 350px;
    height: 400px;
        header {
            color: whitesmoke;
            // color: #FFE300;
            background: #1C1A1A;
            height: 25%;
                h2 {
                    font-size: 2.3em;
                    margin: auto;
                    text-align: center;
                }
        }
}
.card-main {
    background: #333333;
    height:30%;
        h3 {
            font-size: 2.3em;
            margin: auto;
            text-align: center;
            border-bottom: 2px solid #FFE300;
            color: #FFE300;
            padding: 2%;
        }
}

ul {
    list-style: none;
    padding: 0px; 
    color: #FFE300;
    text-align: left;
    margin: 20px;
}

.loading-characters {
    width: 70%;
    margin-left: 2.6em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 50vh;
    perspective: 55px;
    color: #FFE300;
    font-size: 2.5em;
    letter-spacing: 5px;
    line-height: 142%;
    text-align: justify;
}

.crawl {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(40deg) translateZ(0);
    }
    75% {
        top: -4000px;
        transform: rotateX(25deg) translateZ(-4000px);
    }
}

