h1 {
    text-align:center;
    position: relative;
    bottom: 42px;
}

.welcome-form-container {
    background-color: cornsilk;
    height: 700px;
    width: 800px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 50px;
}

form {
    // display: block;
    background-color: plum;
    width: 600px;
    height:500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 4.5em;
    padding: 30px;
}

input, label {
    display: block;
    color: black;
    text-align: center;

}

input {
    font-size: 2.5em;
    padding-left: 6px;
    width: 600px;
    margin-bottom: 5px;
}

label {
    font-size: 1.5em;
    margin-bottom: 2px;
}

select {
    font-size: 2.5em;
    width: 600px;
    text-align: center;
}

button {
    font-size: 1.5em;
    margin-top: 4em;
}

.error {
    color: red;
    margin-bottom: 20px;
}