
h1 {
    color: #FFE300;
    display: block;
    text-align:center;
}

.welcome-form-container {
    align-items: center;
    background-color: cornsilk;
    background-image: url('../images/hyperspace-effect.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

form {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border: 5px solid #FFE300;
    display: flex;
    flex-direction: column;
    height:700px;
    padding: 30px;
    width: 600px;
}

input, label {
    color: white;
    display: block;
    text-align: center;

}

input {
    border: 2px solid #FFE300;
    color: black;
    font-size: 2.0em;
    padding-left: 6px;
    width: 600px;
}

label {
    font-size: 1.5em;
    margin-bottom: 2px;
}

select {
    border: 2px solid #FFE300;
    font-size: 2.0em;
    text-align: center;
    width: 600px;
}

button {
    background: black;
    border-radius: 5px;
    border: 2px solid #FFE300;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 4em;
    padding: 10px;
        &:hover{
            box-shadow:3px 6px 3px #FFE300, 0 0 2em whitesmoke, 0 0 1em rgb(8, 104, 24);
        } 

}

.error {
    color: red;
    font-size: 1.0em;
    margin-bottom: 20px;
}