
h1 {
    text-align:center;
    // position: relative;
    color: #FFE300;
    bottom: 42px;
}

.welcome-form-container {
    background-color: cornsilk;
    height: 700px;
    width: 800px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 50px;
    background-image: url('../images/hyperspace-effect.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    // display: block;
    // background-color: black;
    // background-image: url('../images/warp-speed.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-image: url('../images/hyperspace-effect.gif');
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgba(0, 0, 0, 0.75);
    border: 5px solid #FFE300;
    width: 600px;
    height:500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 4.5em;
    padding: 30px;
}

input, label {
    display: block;
    color: white;
    text-align: center;

}

input {
    font-size: 2.0em;
    padding-left: 6px;
    width: 600px;
    border: 2px solid #FFE300;
    color: black;

    // margin-bottom: 10px;
    // height: 100px;
}

label {
    font-size: 1.5em;
    margin-bottom: 2px;
}

select {
    font-size: 2.0em;
    width: 600px;
    text-align: center;
    border: 2px solid #FFE300;

    // height: 100px;
}

button {
    font-size: 1.5em;
    margin-top: 4em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #FFE300;
    background: black;
    color: white;
    font-weight: bold;


        &:hover{
            box-shadow:3px 6px 3px #FFE300, 0 0 2em whitesmoke, 0 0 1em rgb(8, 104, 24);
        } 

}

.error {
    color: red;
    font-size: 1.0em;
    margin-bottom: 20px;
}